* {
    box-sizing:border-box;
}
        *:visited {
            color: #7D7D7D;
        }
        body {
            background-color: #CCC; 
            color: #7D7D7D;
        }
        html, body, #map-canvas {
        width: 100%; 
        height: 100%; 
        z-index: 1; 
        position: absolute; 
        margin: 0;
    }
        p {
            font-size: 12px;
             margin: 5px 0;
         }
        strong {
            font-size: 14px;
        }
        ul {
            list-style-type: none; 
            padding-left: 0; 
            margin-bottom: 0;
        }
        li {
            font-family: Helvetica, sans-serif; 
            padding: 20px 0 15px 20px;
        }
        li:hover {
            background-color: #7D7D7D; 
            color: white;
        }
        a {
            text-decoration: none; 
            color: #7D7D7D;
        }
        hr { 
            margin: 10px 0 0 0; 
            color: green; 
            border-color: green;
        }
#input {
    margin: 15px 0 5px 20px;
    width: 83%;
    height: 35px;
    font-size: 17px;
    font-family: helvetica, sans-serif;
    color: #9D9D9D;
    border: none;
    -webkit-box-shadow: 2px 2px 5px #9D9D9D;
    outline: none;
}

#search-container {
    position: absolute;
    z-index: 3; 
}

#search-nav {
    width: 280px;
    max-height: 549px;
    background-color: rgba(256,256,256,.6);
    border: solid 2px green;
    overflow: hidden;
}
#search-nav ul li img{
float: right;
}

#scroller {
    max-height: 480px;
    overflow: scroll;
    margin: 0 5px;
}

#arrow {
    height: 50px;
    width: 50px;
}

#arrow-container {
    background-color: green;
    opacity: 0.9;
    max-width: 50px;
    border-radius: 50%;
}

.web-links {
    color: blue;
}

.web-links:visited {
    color: blue;
}
@media screen and (max-width: 700px) {
    #search-nav {
        display: none;
    }
}
@media screen and (max-width: 850px) and (max-height:595px){
    #search-nav {
        display: none;
    }
}
